---
BasedOnStyle: WebKit
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 150
PointerAlignment: Left
SpaceAfterCStyleCast: false
AlignConsecutiveAssignments: Consecutive
AlignTrailingComments: true
Cpp11BracedListStyle: false
---
